<a href="https://colab.research.google.com/github/yash-manchanda/Animal-state-prediction/blob/master/Predictive_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/yash-manchanda/data

fatal: destination path 'data' already exists and is not an empty directory.

### Loadind CSV

In [0]:
import pandas as pd

In [0]:
train = pd.read_csv("/content/data/train.csv")
test = pd.read_csv("/content/data/test.csv")

In [4]:
train.head(5)

  animal_id_outcome  dob_year  ...  outcome_number     outcome_type
0           A006100      2007  ...             1.0  Return to Owner
1           A006100      2007  ...             2.0  Return to Owner
2           A006100      2007  ...             3.0  Return to Owner
3           A047759      2004  ...             1.0          Missing
4           A134067      1997  ...             1.0  Return to Owner

[5 rows x 37 columns]

In [5]:
test.head(5)

  animal_id_outcome  dob_year  ...  outcome_hour outcome_number
0           A723133      2013  ...            16              1
1           A723134      2016  ...            17              1
2           A723135      2016  ...             0              1
3           A723136      2016  ...            13              1
4           A723137      2016  ...            11              1

[5 rows x 36 columns]

### Feature Engineering

In [0]:
def new_animal_type(animal_type):            
  if "bird" in animal_type.lower():
    return "Other"
  elif "other" in animal_type.lower():
    return "Other"
  elif "dog" in animal_type.lower():
    return "Dog"
  elif "cat" in animal_type.lower():
    return "Cat"


train['new_animal_type'] = train.animal_type.astype(str).apply(new_animal_type)
test['new_animal_type'] = test.animal_type.astype(str).apply(new_animal_type)

In [0]:
def gender(Sex):
    if "unknown" in Sex.lower():
        return "Unknown"
    elif "female" in Sex.lower():
        return "Female"
    elif "male" in Sex.lower():
        return "Male"


train['gender'] = train.sex_upon_intake.astype(str).apply(gender)
test['gender'] = test.sex_upon_intake.astype(str).apply(gender)

In [0]:
def breed_type(breed):
    if "mix" in breed.lower():
      return "Mixed Breed"
    elif "/" in breed.lower():
      return "Single Unknown Breed"
    else:
      return "Single Breed"


train['new_breed'] = train.breed.astype(str).apply(breed_type)
test['new_breed'] = test.breed.astype(str).apply(breed_type)

In [0]:
def color_new(data):
  if "tricolor/" in data.lower():
    return "Quadcolor"
  elif "/tricolor" in data.lower():
    return "Quadcolor"
  elif "/" in data.lower():
    return "Bicolor"
  elif "tricolor" in data.lower():
    return "Tricolor"
  else:
    return "Single Color"


train['color_new'] = train.color.astype(str).apply(color_new)
test['color_new'] = test.color.astype(str).apply(color_new)

In [0]:
def extract_datetime(dataset):
  dataset["intake_date"] = pd.DatetimeIndex(dataset['intake_datetime']).day
  return dataset

train = extract_datetime(train)
test = extract_datetime(test)

### Treating Missing Values

In [11]:
train.isnull().sum()

animal_id_outcome                0
dob_year                         0
dob_month                        0
age_upon_intake                  0
animal_type                      0
breed                            0
color                            0
intake_condition                 0
intake_type                      0
sex_upon_intake                  1
count                            0
age_upon_intake_(days)           0
age_upon_intake_(years)          0
age_upon_intake_age_group        0
intake_datetime                  0
intake_month                     0
intake_year                      0
intake_monthyear                 0
intake_weekday                   0
intake_hour                      0
intake_number                    0
time_in_shelter                  0
time_in_shelter_days             0
age_upon_outcome                 0
date_of_birth                    0
sex_upon_outcome                 1
age_upon_outcome_(days)          0
age_upon_outcome_(years)         0
age_upon_outcome_age_group       0
outcome_datetime              9619
outcome_month                    0
outcome_year                     0
outcome_monthyear                0
outcome_weekday                  0
outcome_hour                     0
outcome_number                   0
outcome_type                     0
new_animal_type                  0
gender                           1
new_breed                        0
color_new                        0
intake_date                      0
dtype: int64

In [12]:
test.isnull().sum()

animal_id_outcome             0
dob_year                      0
dob_month                     0
age_upon_intake               0
animal_type                   0
breed                         0
color                         0
intake_condition              0
intake_type                   0
sex_upon_intake               0
count                         0
age_upon_intake_(days)        0
age_upon_intake_(years)       0
age_upon_intake_age_group     0
intake_datetime               0
intake_month                  0
intake_year                   0
intake_monthyear              0
intake_weekday                0
intake_hour                   0
intake_number                 0
time_in_shelter               0
time_in_shelter_days          0
age_upon_outcome              0
date_of_birth                 0
sex_upon_outcome              0
age_upon_outcome_(days)       0
age_upon_outcome_(years)      0
age_upon_outcome_age_group    0
outcome_datetime              0
outcome_month                 0
outcome_year                  0
outcome_monthyear             0
outcome_weekday               0
outcome_hour                  0
outcome_number                0
new_animal_type               0
gender                        0
new_breed                     0
color_new                     0
intake_date                   0
dtype: int64

In [0]:
train = train.dropna(subset = ["gender"])            # dropping one missing value of gender from train dataframe as all the values are extracted from it

In [0]:
train = train.drop(['outcome_datetime'], axis = 1)              # dropped for now because of (NULL )
test = test.drop(['outcome_datetime'], axis = 1)

In [15]:
train

      animal_id_outcome  dob_year  ...     color_new intake_date
0               A006100      2007  ...       Bicolor           7
1               A006100      2007  ...       Bicolor          19
2               A006100      2007  ...       Bicolor           7
3               A047759      2004  ...      Tricolor           2
4               A134067      1997  ...       Bicolor          16
...                 ...       ...  ...           ...         ...
47798           A723128      2007  ...       Bicolor          27
47799           A723129      2015  ...       Bicolor          27
47800           A723130      2005  ...       Bicolor          27
47801           A723131      2011  ...       Bicolor          27
47802           A723132      2015  ...  Single Color          27

[47802 rows x 41 columns]

### Converting categorical string data into numerical by using label encoder

In [0]:
from sklearn import preprocessing
label_enc = preprocessing.LabelEncoder()

In [17]:
train.new_animal_type.unique()

array(['Dog', 'Cat', 'Other'], dtype=object)

In [18]:
train.intake_condition.unique()

array(['Normal', 'Injured', 'Aged', 'Sick', 'Other', 'Feral', 'Pregnant',
       'Nursing'], dtype=object)

In [19]:
train.intake_type.unique()

array(['Stray', 'Public Assist', 'Owner Surrender', 'Euthanasia Request',
       'Wildlife'], dtype=object)

In [20]:
train.gender.unique()

array(['Male', 'Female', 'Unknown'], dtype=object)

In [21]:
train.age_upon_intake_age_group.unique()

array(['(7.5, 10.0]', '(5.0, 7.5]', '(15.0, 17.5]', '(12.5, 15.0]',
       '(17.5, 20.0]', '(10.0, 12.5]', '(2.5, 5.0]', '(-0.025, 2.5]',
       '(20.0, 22.5]'], dtype=object)

In [22]:
train.intake_weekday.unique()

array(['Thursday', 'Friday', 'Wednesday', 'Saturday', 'Monday', 'Tuesday',
       'Sunday'], dtype=object)

In [23]:
train.new_breed.unique()

array(['Mixed Breed', 'Single Breed', 'Single Unknown Breed'],
      dtype=object)

In [24]:
train.color_new.unique()

array(['Bicolor', 'Tricolor', 'Single Color', 'Quadcolor'], dtype=object)

In [25]:
train.outcome_type.unique()

array(['Return to Owner', 'Missing', 'Transfer', 'Adoption', 'Euthanasia',
       'Rto-Adopt', 'Relocate', 'Died', 'Disposal'], dtype=object)

In [0]:
train["new_animal_type"] = label_enc.fit_transform(train["new_animal_type"])
test["new_animal_type"] = label_enc.fit_transform(test["new_animal_type"])

train["intake_condition"] = label_enc.fit_transform(train["intake_condition"])
test["intake_condition"] = label_enc.fit_transform(test["intake_condition"])

train["intake_type"] = label_enc.fit_transform(train["intake_type"])
test["intake_type"] = label_enc.fit_transform(test["intake_type"])

train["gender"] = label_enc.fit_transform(train["gender"])
test["gender"] = label_enc.fit_transform(test["gender"])

train["age_upon_intake_age_group"] = label_enc.fit_transform(train["age_upon_intake_age_group"])
test["age_upon_intake_age_group"] = label_enc.fit_transform(test["age_upon_intake_age_group"])

train["age_upon_outcome_age_group"] = label_enc.fit_transform(train["age_upon_outcome_age_group"])
test["age_upon_outcome_age_group"] = label_enc.fit_transform(test["age_upon_outcome_age_group"])

train["intake_weekday"] = label_enc.fit_transform(train["intake_weekday"])
test["intake_weekday"] = label_enc.fit_transform(test["intake_weekday"])

train["outcome_weekday"] = label_enc.fit_transform(train["outcome_weekday"])
test["outcome_weekday"] = label_enc.fit_transform(test["outcome_weekday"])

train["new_breed"] = label_enc.fit_transform(train["new_breed"])
test["new_breed"] = label_enc.fit_transform(test["new_breed"])

train["color_new"] = label_enc.fit_transform(train["color_new"])
test["color_new"] = label_enc.fit_transform(test["color_new"])

In [27]:
train.new_animal_type.unique()

array([1, 0, 2])

In [28]:
train.intake_condition.unique()

array([3, 2, 0, 7, 5, 1, 6, 4])

In [29]:
train.intake_type.unique()

array([3, 2, 1, 0, 4])

In [30]:
train.gender.unique()

array([1, 0, 2])

In [31]:
train.age_upon_intake_age_group.unique()

array([8, 7, 3, 2, 4, 1, 5, 0, 6])

In [32]:
train.intake_weekday.unique()

array([4, 0, 6, 2, 1, 5, 3])

In [33]:
train.age_upon_outcome_age_group.unique()

array([8, 7, 3, 2, 4, 1, 5, 0, 6])

In [34]:
train.outcome_weekday.unique()

array([4, 2, 1, 3, 0, 5, 6])

In [35]:
train.new_breed.unique()

array([0, 1, 2])

In [36]:
train.outcome_type.unique()

array(['Return to Owner', 'Missing', 'Transfer', 'Adoption', 'Euthanasia',
       'Rto-Adopt', 'Relocate', 'Died', 'Disposal'], dtype=object)

### Feature Engineering of the modified features

In [0]:
def age_group_diff(data):
  diff = abs(data['age_upon_outcome_age_group'] - data['age_upon_intake_age_group'])
  age_diff = []
  for i in diff:
    if i == 0:
      age_diff.append(0)
    else:
      age_diff.append(1)
  return age_diff


train['age_group_difference'] = age_group_diff(train)
test['age_group_difference'] = age_group_diff(test)

In [0]:
def year_in_awc(data):
  diff = round(abs(data['age_upon_intake_(years)']	- data['age_upon_outcome_(years)']))
  return diff


train['years_in_awc'] = year_in_awc(train)
test['years_in_awc'] = year_in_awc(test)

In [0]:
def months_in_awc(data):
  if (data['outcome_month']> data['intake_month']):
    diff = round(abs((12 - data['outcome_month'])	+ data['intake_month']))
    return diff
  else:
    diff = round(abs(data['outcome_month'] - data['intake_month']))
    return diff


train['months_in_awc'] = year_in_awc(train)
test['months_in_awc'] = year_in_awc(test)

In [0]:
train['time_in_shelter_days'] = round(train['time_in_shelter_days'])
test['time_in_shelter_days'] = round(test['time_in_shelter_days'])

### Dropping unwanted or repeated coulumns

In [41]:
train['dob_month'].isin(train['outcome_month']).value_counts()

True    47802
Name: dob_month, dtype: int64

In [42]:
train

      animal_id_outcome  dob_year  ...  years_in_awc months_in_awc
0               A006100      2007  ...           0.0           0.0
1               A006100      2007  ...           0.0           0.0
2               A006100      2007  ...           0.0           0.0
3               A047759      2004  ...           0.0           0.0
4               A134067      1997  ...           0.0           0.0
...                 ...       ...  ...           ...           ...
47798           A723128      2007  ...           0.0           0.0
47799           A723129      2015  ...           0.0           0.0
47800           A723130      2005  ...           0.0           0.0
47801           A723131      2011  ...           0.0           0.0
47802           A723132      2015  ...           0.0           0.0

[47802 rows x 44 columns]

In [43]:
test

      animal_id_outcome  dob_year  ...  years_in_awc months_in_awc
0               A723133      2013  ...           0.0           0.0
1               A723134      2016  ...           0.0           0.0
2               A723135      2016  ...           0.0           0.0
3               A723136      2016  ...           0.0           0.0
4               A723137      2016  ...           0.0           0.0
...                 ...       ...  ...           ...           ...
31864           A769060      2018  ...           0.0           0.0
31865           A769064      2016  ...           0.0           0.0
31866           A769065      2017  ...           0.0           0.0
31867           A769066      2017  ...           0.0           0.0
31868           A769067      2008  ...           0.0           0.0

[31869 rows x 43 columns]

In [0]:
train = train.drop(['age_upon_intake'], axis = 1)              # repetitive data
test = test.drop(['age_upon_intake'], axis = 1)

train = train.drop(['age_upon_outcome'], axis = 1)             # repetitive data
test = test.drop(['age_upon_outcome'], axis = 1)

train = train.drop(['breed'], axis = 1)                        # new breed made
test = test.drop(['breed'], axis = 1)

train = train.drop(['animal_type'], axis = 1)                  # new animal_type made
test = test.drop(['animal_type'], axis = 1)

train = train.drop(['sex_upon_intake'], axis = 1)              # gender made, same intake and outcome
test = test.drop(['sex_upon_intake'], axis = 1)

train = train.drop(['count'], axis = 1)                        # remains constant for whole data
test = test.drop(['count'], axis = 1)

train = train.drop(['intake_datetime'], axis = 1)              # all features extracted
test = test.drop(['intake_datetime'], axis = 1)

train = train.drop(['intake_monthyear'], axis = 1)             # no need for month year
test = test.drop(['intake_monthyear'], axis = 1)

train = train.drop(['time_in_shelter'], axis = 1)              # already has days in shelter
test = test.drop(['time_in_shelter'], axis = 1)

train = train.drop(['date_of_birth'], axis = 1)                # day, month, year extracted
test = test.drop(['date_of_birth'], axis = 1)              

train = train.drop(['sex_upon_outcome'], axis = 1)             # gender made, same intake and outcome
test = test.drop(['sex_upon_outcome'], axis = 1)              

train = train.drop(['age_upon_outcome_age_group'], axis = 1)   # difference taken
test = test.drop(['age_upon_outcome_age_group'], axis = 1)

train = train.drop(['outcome_number'], axis = 1)                # same intake and outcome
test = test.drop(['outcome_number'], axis = 1)

train = train.drop(['outcome_monthyear'], axis = 1)              # values extracted, no more needed
test = test.drop(['outcome_monthyear'], axis = 1)

train = train.drop(['color'], axis = 1)                         # converted into numerical categorical
test = test.drop(['color'], axis = 1)

train = train.drop(['age_upon_intake_age_group'], axis = 1)              # converted it into numerical categorical
test = test.drop(['age_upon_intake_age_group'], axis = 1)

train = train.drop(['age_upon_intake_(years)'], axis = 1)              # years in awc taken
test = test.drop(['age_upon_intake_(years)'], axis = 1)

train = train.drop(['age_upon_outcome_(years)'], axis = 1)              # years in awc taken
test = test.drop(['age_upon_outcome_(years)'], axis = 1)

train = train.drop(['dob_year'], axis = 1)              # no more required/ already have age
test = test.drop(['dob_year'], axis = 1)

train = train.drop(['dob_month'], axis = 1)              # no more required/ already have age
test = test.drop(['dob_month'], axis = 1)

train = train.drop(['intake_number'], axis = 1)                # intake number is same as outcome number
test = test.drop(['intake_number'], axis = 1)

In [68]:
train

      animal_id_outcome  intake_condition  ...  years_in_awc  months_in_awc
0               A006100                 3  ...           0.0            0.0
1               A006100                 3  ...           0.0            0.0
2               A006100                 3  ...           0.0            0.0
3               A047759                 3  ...           0.0            0.0
4               A134067                 2  ...           0.0            0.0
...                 ...               ...  ...           ...            ...
47798           A723128                 3  ...           0.0            0.0
47799           A723129                 3  ...           0.0            0.0
47800           A723130                 3  ...           0.0            0.0
47801           A723131                 3  ...           0.0            0.0
47802           A723132                 2  ...           0.0            0.0

[47802 rows x 23 columns]

In [69]:
test

      animal_id_outcome  intake_condition  ...  years_in_awc  months_in_awc
0               A723133                 4  ...           0.0            0.0
1               A723134                 4  ...           0.0            0.0
2               A723135                 4  ...           0.0            0.0
3               A723136                 4  ...           0.0            0.0
4               A723137                 4  ...           0.0            0.0
...                 ...               ...  ...           ...            ...
31864           A769060                 3  ...           0.0            0.0
31865           A769064                 3  ...           0.0            0.0
31866           A769065                 3  ...           0.0            0.0
31867           A769066                 3  ...           0.0            0.0
31868           A769067                 0  ...           0.0            0.0

[31869 rows x 22 columns]

### Training the Modeling

In [0]:
from sklearn.model_selection import train_test_split as train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , confusion_matrix

In [0]:
y = train['outcome_type']
x = train.drop("outcome_type", axis = 1)

In [0]:
xx = x.drop(['animal_id_outcome'],axis = 1)         # dropping id of animal. It will be added on the testing data

In [73]:
x_train, x_test, y_train, y_test = train_test_split(xx, y, test_size=0.10, random_state=42)

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(43021, 21) (43021,)
(4781, 21) (4781,)

In [0]:
# Training model with random forest

In [0]:
rf_clf = RandomForestClassifier(n_estimators=500, random_state=42)

In [76]:
rf_clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [77]:
predictions = rf_clf.predict(x_test)
predictions

array(['Adoption', 'Return to Owner', 'Transfer', ..., 'Adoption',
       'Adoption', 'Adoption'], dtype=object)

In [0]:
accuracy = accuracy_score(y_test, predictions)
print(accuracy*100,"%")

In [0]:
#feature importance

In [0]:
fi = pd.DataFrame({'feature': list(x_train.columns),
                   'importance': rf_clf.feature_importances_}).\
                    sort_values('importance', ascending = False)

In [80]:
fi.head(10)

                    feature  importance
7      time_in_shelter_days    0.151198
12             outcome_hour    0.082382
17              intake_date    0.079486
1               intake_type    0.069520
6               intake_hour    0.069043
8   age_upon_outcome_(days)    0.068558
2    age_upon_intake_(days)    0.066075
9             outcome_month    0.052671
3              intake_month    0.052434
5            intake_weekday    0.051352

In [0]:
#confusion matrics

In [0]:
cm = confusion_matrix(y_test, predictions) 
cm

In [0]:
# Correlation

In [0]:
from scipy.stats import pearsonr
corr, _ = pearsonr(train['age_upon_intake_(days)'], train['age_upon_outcome_(days)'])
corr

In [0]:
corr_matrix = train.corr().abs()
corr_matrix

### Predicting outcome_type on testing data

In [0]:
train_id = train['animal_id_outcome']

In [0]:
test_id = test['animal_id_outcome']

In [0]:
train = train.drop(['animal_id_outcome'], axis = 1)

In [0]:
test = test.drop(['animal_id_outcome'], axis = 1)

In [98]:
train

       intake_condition  intake_type  ...  years_in_awc  months_in_awc
0                     3            3  ...           0.0            0.0
1                     3            2  ...           0.0            0.0
2                     3            2  ...           0.0            0.0
3                     3            1  ...           0.0            0.0
4                     2            2  ...           0.0            0.0
...                 ...          ...  ...           ...            ...
47798                 3            3  ...           0.0            0.0
47799                 3            1  ...           0.0            0.0
47800                 3            3  ...           0.0            0.0
47801                 3            3  ...           0.0            0.0
47802                 2            4  ...           0.0            0.0

[47802 rows x 22 columns]

In [0]:
train_label = train['outcome_type']

In [0]:
train_feature = train.drop(['outcome_type'],axis = 1)

In [101]:
train_feature

       intake_condition  intake_type  ...  years_in_awc  months_in_awc
0                     3            3  ...           0.0            0.0
1                     3            2  ...           0.0            0.0
2                     3            2  ...           0.0            0.0
3                     3            1  ...           0.0            0.0
4                     2            2  ...           0.0            0.0
...                 ...          ...  ...           ...            ...
47798                 3            3  ...           0.0            0.0
47799                 3            1  ...           0.0            0.0
47800                 3            3  ...           0.0            0.0
47801                 3            3  ...           0.0            0.0
47802                 2            4  ...           0.0            0.0

[47802 rows x 21 columns]

In [102]:
test

       intake_condition  intake_type  ...  years_in_awc  months_in_awc
0                     4            3  ...           0.0            0.0
1                     4            3  ...           0.0            0.0
2                     4            3  ...           0.0            0.0
3                     4            3  ...           0.0            0.0
4                     4            3  ...           0.0            0.0
...                 ...          ...  ...           ...            ...
31864                 3            3  ...           0.0            0.0
31865                 3            4  ...           0.0            0.0
31866                 3            4  ...           0.0            0.0
31867                 3            3  ...           0.0            0.0
31868                 0            3  ...           0.0            0.0

[31869 rows x 21 columns]

In [104]:
classifier = RandomForestClassifier(n_estimators = 500, criterion = 'entropy', random_state = 42)
classifier.fit(train_feature, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [105]:
predictions = classifier.predict(test)
predictions

array(['Transfer', 'Adoption', 'Adoption', ..., 'Euthanasia',
       'Return to Owner', 'Return to Owner'], dtype=object)

In [0]:
output = pd.DataFrame({'animal_id_outcome': test_id, 
                       'outcome_type' : predictions})

In [107]:
output

      animal_id_outcome     outcome_type
0               A723133         Transfer
1               A723134         Adoption
2               A723135         Adoption
3               A723136         Adoption
4               A723137         Adoption
...                 ...              ...
31864           A769060         Transfer
31865           A769064       Euthanasia
31866           A769065       Euthanasia
31867           A769066  Return to Owner
31868           A769067  Return to Owner

[31869 rows x 2 columns]

In [0]:
output.to_csv('predictions.csv')